numpy==1.26.3
pyrr==0.10.3
pillow==10.3.0
pathlib==1.0.1
scikit-learn==1.4.0
scipy==1.11.4
matplotlib==3.8.2
pyyaml==6.0.1
pandas==2.2.0
tqdm==4.66.4
click==8.1.7
ipython
joblib
jupyter
onnx
onnxruntime
opencv-contrib-python
opencv-python
optuna
python-dotenv
seaborn==0.13.2
xgboost
fastapi[standard]
uvicorn[standard]
pydantic
#mlflow-skinny==2.17.2
mlflow
protobuf>=3.20,<5.0
sqlalchemy<2.0
flask
streamlit==1.40.1
